@model EntriesRepository
@{
    ViewData["title"] = "My Activities";





}

<script >

function reverseString(str) {

  let list = str.split("-");
  list.reverse()
  

  return list.join("-")
}
function getDateInput(){

    const pickedDate = reverseString(document.querySelector('input[type="date"]').value);
    let link = "";
    if (pickedDate === ""){
        link = "/Home/Index"
        }
    else{
        link = "/Home/MyActivities/" + pickedDate;
        }
    
     
   
    document.getElementById("changeDate").setAttribute("href", link);
    }
</script>

<div >

    <div style="position: absolute; right: 400px; font-size: 30px ">
        @{ var totalTime = 0;}
        @foreach (var entry in Model.Entries)
        {
            totalTime += entry.time;
        }

        <tr>
            Total time spent :<strong>@(totalTime / 60) h @(totalTime % 60) min</strong>

        </tr>
        <tr>
            <td >Date :<strong>@ViewBag.date</strong></td>
        </tr>
    </div>
    <table class="greyGridTable">

        <thead>
        <tr>
            <td>
                <strong>Activity Desctiption</strong>
            </td>
            <td>
                <strong>Time Spent</strong>
            </td>
            <td>
                <strong>Project Code</strong>
            </td>
            <td></td>

        </tr>
        </thead>

        <tbody>

        <div>
            <a href=""></a>
        </div>


        @foreach (var entry in Model.Entries)
        {
            <tr>
                <td style="text-align:left">@entry.description</td>
                <td style="text-align:left">@(entry.time / 60) h @(entry.time % 60) min</td>
                <td style="text-align:left">@entry.code</td>
                <td style="width: 300px; text-align: right">
                    @* edit delete details*@
                    <a asp-area="" asp-controller="Home" asp-action="EditActivity" asp-route-id=@(Model.Entries.IndexOf(entry)) class="myButton">Edit</a>
                    <a href="/Home/ActivityDetails/@entry.date.Date.ToString("dd-MM-yyyy")/@(Model.Entries.IndexOf(entry))" class="myButton">Details</a>
                    <a href="/Home/DeleteActivity/@entry.date.Date.ToString("dd-MM-yyyy")/@(Model.Entries.IndexOf(entry))" style="background: red; color: black; text-shadow: none" class="myButton">Delete</a>
                </td>
            </tr>
        }

        <form id="GFG" action="">
            <input type="date" name="date" id="date" required>
            <br/>
            <a class="myButton" href="" id="changeDate" onclick="getDateInput()">Change date</a>
        </form>
        


        </tbody>

    </table>
</div>