@model Entry
@{
    ViewData["title"] = "Activity Details";
    

}

<!DOCTYPE html>

<html lang="">
<head>
    <title>@ViewData["title"]</title>
</head>
<body>
<div>
    <h1>User activity details</h1>
    <table class="greyGridTable">
        <thead>
        <td>
            <strong>Activity Desctiption</strong>
        </td>
        <td>
            <strong>Time Spent</strong>
        </td>
        <td>
            <strong>Project Code</strong>
        </td>

        </thead>
        <tbody>
        <tr>
            <td>@Model.description</td>
            <td>@(Model.time / 60) h @(Model.time % 60) min</td>
            <td>@Model.code</td>
        </tr>

        </tbody>
    </table>
    <h1>Activity's project details</h1>
    <table class="greyGridTable">
        <thead>
        <td>
            <strong>Project name</strong>
        </td>
        <td>
            <strong>Project code</strong>
        </td>
        <td>
            <strong>Project budget</strong>
        </td>
        <td>
            <strong>Project manager</strong>
        </td>

        </thead>
        <tbody>
        <tr>
            <td>@ViewBag.projectName</td>
            <td>@ViewBag.projectCode</td>
            <td>@ViewBag.projectBudget</td>
            <td>@ViewBag.ProjectManager</td>
        </tr>

        </tbody>


    </table>
    <a class="myButton" asp-area="" asp-controller="Home" asp-action="MyActivities" asp-route-id="@Model.date.Date.ToString("dd-MM-yyyy")">Back to activities list</a>


</div>
</body>
</html>